@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site contains statistical information regarding championships to all 32 NFL <a asp-controller="Teams" asp-action="Index">teams</a>. Furthermore, a list of recent winners can be found in <a asp-controller="Superbowls" asp-action="Index">Superbowls</a>.</p>
</div>
