@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h4>References</h4>
<p><a href="https://iconscout.com/icons/nfl" target="_blank">Nfl Logo Icon</a> by <a href="https://iconscout.com/contributors/icon-mafia">Icon Mafia</a> on <a href="https://iconscout.com">Iconscout</a></p>
<p>Site Logo Retrieved from: Wikimedia Foundation. (2021, December 16). Super Bowl. Wikipedia. Retrieved December 16, 2021, from <a href="https://en.wikipedia.org/wiki/Super_Bowl">https://en.wikipedia.org/wiki/Super_Bowl</a> </p>
